<div class='message-list' id='list-of-messages'>
  <% @messages.each do |message| %>
    <%= render partial: "messages/message", locals: { message: message } %>
  <% end %>
</div> <!-- /message-list -->