// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-list {
  height: 600px;
  width: 25%;
  float: left;
  border: 1px solid black;
}

.user-list {
  height: 550px;
  width: 25%;
  float: right;
  border: 1px solid black;
  overflow: scroll;
  padding: 1em;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      text-align: left;
    }
  }
}


.message-list {
  height: 550px;
  width: 50%;
  float: left;
  border: 1px solid black;
  overflow: scroll;
}

.new-message {
  height: 50px; 
  width: 75%;
  float: right;
  padding-top: .5%;
  padding-left: .5%;
  border: 1px solid black;
  .message-form {
    display: inline;
    text-align: center;
    margin-top: 4%;
    width: 100%;
    display: relative;
    #message_text {
      width: 70%;
      resize: none;
    }
  }
}


.clear-btn {
  display: inline;
}

